<h1><%= @name %>'s <%= @need %> level</h1>

<h3><%= @need %> level: <%= @level %></h3>

<form action="/meet_need" method="post">
    <input id="1" name="feed" class="btn" type="submit" value="<%= @command %>">
</form

<hr />

<h4><a href="/">Back to Home Page</a></h4>