<h1>Tamagotchi</h1>

<h3>Your pet is <%= @name %>.</h3>

<h3><%= @name %>'s status:</h3>

<h4><a href="/levels/food">Food Level: <%= @food_level %></a></h4>
<h4><a href="/levels/sleep">Sleep Level: <%= @sleep_level %></a></h4>
<h4><a href="/levels/activity">Activity Level: <%= @activity_level %></a></h4>