<h3>The dimensions of your parcel are <%= @length %> in, <%= @width %> in, and <%= @height %> in.</h3>
<h3>Your parcel weighs <%= @weight %> oz.</h3>
<h3>The distance your parcel must travel is <%= @distance %> mi.</h3>
<hr />
<h3>The volume of your parcel is <%= @volume %> cu in.</h3>
<h3>Your total shipping cost is $<%= @shipping_cost %>.</h3>
<hr />
<a href="/">Back to home page</a>